#intro {
  width: 100%;
  min-height: 900px;

  text-align: center;
  margin: 0 auto;
  background: url('../lightpaperfibers.png');


}

#text {

width: 600px;

margin: 0 auto;
padding: 0;

}

#text h1 {

margin: 0 auto;
padding: 0;
line-height: auto;


}
#menu {
  border: 1px solid green;



}

ul#menu {
  padding: 0;
  margin: 0;
  text-align: right;
}

#menu  li{
  display: inline;
  font-size: 34px;
}

.container {
  width: 100%;
  min-height: 830px;

  border: 2px solid pink;
}


.sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
}



.display-sweet-image-behind {
   /* fallback color */
   color: white;

   /* overrides color with nothingness */
   -webkit-text-fill-color: transparent;

   /* remember non WebKit browsers will see all of this EXCEPT the text */
   background: url('../blue_texture_by_lexiibabii01.jpg') repeat;

   /* the magic */
   -webkit-background-clip: text;

   font:  200px League Gothic, Sans-Serif;

   width: auto;


}

.fancy_title {
width: 80%;

margin: 0 auto;
}
.word10{
  font-size: 94px;
}

#hello {
  font-size:  64px;
  color: rgba(0,0,0,.4);
  line-height: .5em;
  padding: 0px 100px 0px 100px;

}