#intro {
  width: 100%;
  min-height: 700px;
  border: 1px solid green;
  text-align: center;
  padding-top: 100px;
  background: url('../lightpaperfibers.png');


}

#text {
margin: 0 auto;
width: 600px;
text-align: justify;

}

#text h1 {

}
#menu {

  background: url('../lightpaperfibers.png');



}

ul#menu {
  padding: 0;
  margin: 0;
  text-align: center;
}

#menu  li{
  display: inline;
  font-size: 44px;
  padding-right: 35px;
  font-family: League Gothic, Sans-Serif;

}

#menu li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #d1c39d;

}


#menu li a:hover {
  border-bottom: 2px solid #d1c39d;

}

.container {
  width: 95%;
  min-height: 830px;
  border: 2px solid pink;
  margin: 0 auto;
  background: url('../lightpaperfibers.png');
}


.sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
}



.display-sweet-image-behind {
   /* fallback color */
   color: white;

   /* overrides color with nothingness */
   -webkit-text-fill-color: transparent;

   /* remember non WebKit browsers will see all of this EXCEPT the text */
   background: url('../image-1.jpg') repeat;

   /* the magic */
   -webkit-background-clip: text;

   font-family: League Gothic, Sans-Serif;


   width: auto;


}

#aboutc {
  background: url('../image-1.jpg') repeat;

}

.fancy_title {

margin: 0 0 0 10%;
font-size: 360px;
}


#hello {
  font-size:  64px;
  color: rgba(0,0,0,.4);

  padding: 0px 0px 0px 0px;
}